@using MVC5_Sandbox.Areas.EntitySchool.Models
@model IEnumerable<MVC5_Sandbox.Areas.EntitySchool.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var context = new SchoolEntities();
        var courses = context.Courses.Where(c => c.DepartmentId == item.DepartmentId);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator)
            </td>
            <td>
                @if (courses.Any())
                {
                    <ul>
                        @foreach (var c in courses)
                        {
                            <li>c.Name</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No courses this semester</p>
                }

            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
            </td>
        </tr>
    }

</table>
